.navLine {
display: flex;
justify-content: flex-start;
gap: 10px;
font-size: 30px;
box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
min-width: 100vw;
padding-left: 20px;
margin-bottom: 30px;
}

.navTitle{
background-color: transparent;
padding: 10px;
color: rgb(102, 167, 167);
}

.active{
    color: bisque;
}